.body {
    background-color: RGB(20, 20, 20);
    text-align: center;
}

img {
    width: auto;
    height: 300px;
}

.title, .sub-title {
    color: bisque;
    font-family: "Times New Roman", serif;
    font-size: 50px;
}

.sub-title {
    font-size: 35px;
}

#main-list {
    color: bisque;
    display: flex;
    justify-content: center;
    font-family: Tahoma, sans-serif;
}

a {
    color: rgb(238,238,228);
}


