.body {
    background-color: RGB(20, 20, 20);
}

.body .main-title {
    color: rgb(161, 115, 82);
    font-family: "Times New Roman", serif;
    font-size: 50px;
}

img {
    width: 500px;
    height: auto;
    background-color: rgb(161, 115, 82);
    padding: 5px;
}

p, ul {
    color: rgb(238,238,228);
    font-family: Tahoma, sans-serif;
}

.title, #main-list {
    color: bisque;
}

.return {
    color: whitesmoke;
    background-color: rgb(129, 120, 120);
    padding: 10px 20px;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    text-decoration: none;

}

.return:hover {
    background-color: rgb(85, 80, 80);
    border: none;
}


